<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HyperSchedule · Fast scheduling</title>
    <link phx-track-static rel="stylesheet" href={ Routes.static_path(@conn, "/assets/app.css") }/>
    <%= csrf_meta_tag() %>
    <script defer phx-track-static type="text/javascript" src={ Routes.static_path(@conn, "/assets/app.js") }></script>
  </head>
  <body>
    <header class="header-2">
        <nav role="navigation" class="bg-white py-2 md:py-4">
          <div class="container px-4 mx-auto md:flex md:items-center">

            <div class="flex justify-between items-center">
              <a href={ Routes.static_path(@conn, "/") } class="font-bold text-xl text-purple-600">Hyper Schedule</a>
            </div>

            <div class="md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0">
              <a href={ Routes.static_path(@conn, "/") } class="p-2 lg:px-4 md:mx-2 text-white rounded bg-purple-600">Home</a>
              <a href={ Routes.static_path(@conn, "/about") } class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 hover:text-gray-700 transition-colors duration-300">About</a>
            </div>
          </div>

        </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
